.app-body {
  padding: 0 20px;
  box-sizing: border-box;
}

.app-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.app-header img {
  width: 100%;
  max-width: 250px;
}

@media screen and (max-width: 767px) {
  .app-header {
    flex-flow: column;
  }
}
