/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.addItemBtn {
  width: 100%;
  max-width: 140px;
  margin: 20px auto;
}

.logOutBtn {
  width: 140px;
}

.add-item-panel {
  width: 400px;
}
