<div>
  <mat-card class="authCard">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="text"
        [(ngModel)]="email"
        placeholder="email"
        matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="password"
        matInput>
    </mat-form-field>

    <div class="buttonContainer">
      <button mat-raised-button class="authBtn" color="accent" (click)="signup()">
        Signup
      </button>

      <button mat-raised-button class="authBtn" color="accent" (click)="login()">
        Login
      </button>
    </div>
  </mat-card>
</div>


